:root{
    --titulo-principal:#1e4b7e;
    --cor-do-texto:#3d2a72; 
    --cor-de-fundo:#7fa6d8;
    --cor-do-botao:#404186;
}
body{
    background-color:var(--cor-de-fundo);
    color:var(--titulo-principal);
}
*{
    margin:0;
    padding:0;
}
.principal{
    background-image:url(Peppa%27s_yellow_house.webp);
    background-repeat:no-repeat;
    background-size: contain;
}
.container{
    height:100vh;
    display:grid;
    grid-template-columns:50% 50%;
}
.container_botao{
    background:var(--botao-amrelo);
    border-radius:10px ;
    padding:1em;
    color:var(--botao-principal);
    display: block;
}
.botao_secundario {
    background-color: transparent;
    border:10px solid var(--branco-principal);
}