:root{
    --titulo-principal:#b38300;
    --cor-do-texto:#fbca03; 
    --cor-de-fundo:#aa0505;
    --cor-do-botao:#290c92;
}
body{
    background-color:var(--cor-de-fundo);
}
h1{
    color:var(--titulo-principal);
}
*{
    margin:0;
    padding:0;
}
.principal{
    background-image:url(511221.jpg);
    background-repeat:no-repeat;
    background-size: contain;
}
.container{
    height:100vh;
}
